.card-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between; }

.loading {
  background-image: url("./WineWaiting.gif");
  background-position: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh; }
